# a comment - this is ignored
# ignore share lib
*/.sl*
# ignore .consign, *.d, *.so, *.eps, *.swp, all the log file and script in StRoot
*.swp
temp_gccflags.c
*/StRoot/**/.consign
*/StRoot/**/*.d
*/StRoot/**/*.so
*/StRoot/**/*.eps
*/StRoot/**/*.err
*/StRoot/**/*.log
*/StRoot/**/*.csh
*/StRoot/**/*.swp
*/*.swp
*/temp_gccflags.c
*/*_C.*
*/macro/*_C.*

FileList/*/*.list
!FileList/*/runNumber.list

TreeProduction/*.root
TreeProduction/StRoot/CVS/
TreeProduction/StRoot/StRefMultCorr/CVS/
TreeProduction/submit/*/JOBS/
TreeProduction/submit/*/Log/
TreeProduction/submit/*/sched*
TreeProduction/submit/*/*.session.xml
TreeProduction/submit/*/Submitted/
TreeProduction/macro/*.eps
TreeProduction/macro/*.png

RunQA/*.root
RunQA/StRoot/CVS/
RunQA/StRoot/StRefMultCorr/CVS/
RunQA/submit/*/JOBS/
RunQA/submit/*/Log/
RunQA/submit/*/sched*
RunQA/submit/*/*.session.xml
RunQA/submit/*/Submitted/
RunQA/macro/*.eps
RunQA/macro/*.png
