# a comment - this is ignored
# ignore share lib
*/.sl*
# ignore .consign, *.d, *.so, *.eps, *.swp, all the log file and script in StRoot
*.swp
temp_gccflags.c
*/StRoot/**/.consign
*/StRoot/**/*.d
*/StRoot/**/*.so
*/StRoot/**/*.eps
*/StRoot/**/*.err
*/StRoot/**/*.log
*/StRoot/**/*.csh
*/StRoot/**/*.swp
*/*.swp
*/temp_gccflags.c
*/*_C.*
*/macro/*_C.*

FileList/*/condor_*.list
FileList/*/pico_xrootd_resubmit.list
FileList/*/pico_xrootd_completed_*.list
FileList/*/pico_xrootd_failed_*.list

TreeProduction/*.root
TreeProduction/StRoot/CVS/
TreeProduction/StRoot/StRefMultCorr/CVS/
TreeProduction/submit/*/JOBS/
TreeProduction/submit/*/Log/
TreeProduction/submit/*/sched*
TreeProduction/submit/*/*.session.xml
TreeProduction/submit/*/Submitted/
TreeProduction/macro/*.eps
TreeProduction/macro/*.png
